<h1>Your Tamagochi is dead</h1>
<h3>Try little harder next time</h3>
<a href="/"><button class="btn btn-default" type="submit">Try Again</button></a>
<span class="tamagotchi dead">
  &#x1F63F;
</span>
