<div class="col-md-4 col-md-offset-1">
  <p>Make a Tamagotchi:</p>
  <form  action="/make_tamagotchi" method="post">
    <div class="formgroup">
        <label for="make_tamagotchi">Add a place here</label>
        <input class="form-control" type="text" name="make_tamagotchi" id="make_tamagotchi">
        <br>
        <button class="btn btn-default" type="submit">Add!</button>
    </div>
  </form>
</div>
